* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;

    font-family: Arial, sans-serif;

    background: #111;
    color: #fff;
}

a {
    color: inherit;
}

button,
input {
    font: inherit;
}
nav a {
    margin-right: 16px;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

.light {
    min-height: 100vh;
    background: #ffffff;
    color: #111111;
}

.dark {
    min-height: 100vh;
    background: #111111;
    color: #ffffff;
}


.light a {
    color: #111111;
}

.dark a {
    color: #ffffff;
}